head{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

     padding-top: constant(safe-area-inset-top);
     padding-right: constant(safe-area-inset-right);
     padding-bottom: constant(safe-area-inset-bottom);
     padding-left: constant(safe-area-inset-left);

     background: linear-gradient(to top, #fff1eb 0%, pink 90%);
     background-size: cover;
     background-repeat: no-repeat; 
     background-attachment: fixed; 
     background-position: center; 

     
     display: grid;
     width: 0px;
     flex-direction: row;
     color: black;
     position: absolute; 
     top: 10%;
     left: 47%;
     font-size: 20px;
     font-family: "Times New Roman", serif;
     justify-content: center;
     height: 10vh;
     
}
p{
     display: grid;
     text-align: center;
     width: 400px;
     height: 730px;
     color: black;
     border-style:dashed;
     border-radius: 15px 15px;
    
}
b{
     font-size: 70px;
     font-family: "Times New Roman", serif;
     font-style: oblique; 
}
f{
    text-align: center; 
    
}
photo{
    
     background-image: url(./66467a4a39e14ea7b68db5cf8ea9a203.gif);
     font-family: "Times New Roman", serif;
     text-align: center;
     width: 400px;
     height: 400px;
     object-fit: cover;
     border-radius: 15px 15px;
     
    
 
}


