body{

     background: linear-gradient(to top, #fff1eb 0%, pink 90%);
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
     display: grid;
     place-items: center;
     width: 0px;
     flex-direction: row;
     justify-content: center;
     color: black;
     position: absolute; 
     top: 10%;
     left: 50%;
     font-size: 20px;
     font-family: "Times New Roman", serif;
     
}
p{
     display: grid;
     place-items: center;
     width: 265px;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     height: 200px;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     color: black;
     border-style:dashed;
     border-radius: 15px 40%;
}
b{

     font-size: 50px;
     font-family: "Times New Roman", serif;
     font-style: oblique; 
     
}