*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
head{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
     padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

     padding-top: constant(safe-area-inset-top);
     padding-right: constant(safe-area-inset-right);
     padding-bottom: constant(safe-area-inset-bottom);
     padding-left: constant(safe-area-inset-left);

     background: linear-gradient(to top, #fff1eb 0%, pink 90%);
     background-size: cover;
     background-repeat: no-repeat; 
     background-attachment: fixed; 
     background-position: center; 

     -webkit-text-size-adjust: 100%;
     text-size-adjust: 100%;
     box-sizing: border-box;
     
     display: grid;
     width: 0px;
     flex-direction: row;
     justify-content: center;
     color: black;
     position: absolute; 
     top: 10%;
     left: 50%;
     font-size: 20px;
     font-family: "Times New Roman", serif;
     
}
p{
     display: grid;
     place-items: center;
     width: 265px;
     height: 200px;
     color: black;
     border-style:dashed;
     border-radius: 15px 40%;
}
b{
     font-size: 50px;
     font-family: "Times New Roman", serif;
     font-style: oblique; 
}
.full-screen-element {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    /* Учитываем безопасные зоны */
    top: env(safe-area-inset-top);
    bottom: env(safe-area-inset-bottom);
    left: env(safe-area-inset-left);
    right: env(safe-area-inset-right);
}