head{
    width: 100%;
    height: 100%;
    overflow-x: hidden;  
}
body{
     overflow-x: hidden; 
     margin: 0;
     padding: 0;
     -webkit-text-size-adjust: 100%;
     text-size-adjust: 100%;
     box-sizing: border-box;
     background: linear-gradient(to top, #fff1eb 0%, pink 90%);
     background-size: cover;
     background-repeat: no-repeat; 
     background-attachment: fixed; 
     background-position: center; 
     display: grid;
     width: 0px;
     flex-direction: row;
     justify-content: center;
     color: black;
     position: absolute; 
     top: 10%;
     left: 50%;
     font-size: 20px;
     font-family: "Times New Roman", serif;
     
}
p{
     display: grid;
     place-items: center;
     width: 265px;
     height: 200px;
     color: black;
     border-style:dashed;
     border-radius: 15px 40%;
}
b{
     font-size: 50px;
     font-family: "Times New Roman", serif;
     font-style: oblique; 
}